@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
    font-family: 'Share Tech Mono', sans-serif;
}

#clock {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
  
    text-shadow: 0px 0px 25px;
}
#clock .time {
      font-size: 6.5em;
    }
  
    #clock .text {
      margin-top: 30px;
      font-size: 1em;
      text-align: center;
    }
  
    #clock .text a {
        text-decoration: none;
        color: inherit;
  
        transition: color .1s ease-out;
    }
